<div class="container">
  <div class="container">
    <app-nav-var></app-nav-var>
  </div>
  <div class="container" style="padding-top: 100px;">
    <h4 class="">
      <span class="text-primary">PARTIDAS </span>
      <span class="badge bg-primary rounded-pill">{{(listadoDePartidas | filterPartidas : filtroNombre).length}}</span>
    </h4>
    <div >
      <input type="text" class="form-control" placeholder="Filtrar por nombre"
        [(ngModel)]="filtroNombre" />
    </div>
    <div class="row">
      <div class="col-md-3" style="text-align: center"><b>Nombre y Apellido</b></div>
      <div class="col-md-3" style="text-align: center"><b>Juego</b></div>
      <div class="col-md-3" style="text-align: center"><b>Fecha</b></div>
      <div class="col-md-3" style="text-align: center"><b>Puntaje</b></div>
    </div>
    <ul class="list-group">
      <li *ngFor="
          let partida of listadoDePartidas | filterPartidas : filtroNombre;
          let i = index" class="list-group-item " >
          <div class="row">
            <div class="col-md-3" style="text-align: center">{{partida.jugador.nombre}}, {{partida.jugador.apellido}}</div>
            <div class="col-md-3" style="text-align: center">{{partida.juego.nombre }}</div>
            <div class="col-md-3" style="text-align: center">{{partida.fecha | dateIsoToDate | date :"yyyy-MM-dd HH:mm"}}</div>
            <div class="col-md-3" style="text-align: center">{{partida.puntajeJugada}}</div>
          </div>
      </li>
    </ul>

  </div>
</div>
