<app-nav-var ></app-nav-var>
<div id="imagen-de-fondo">

  <!-- First Container -->
  <div id="quien" class="container-fluid text-center">
    <h3 class="margin">Quién Soy?</h3>
    <img src="../../../assets/foto-Quien-soy.jpg" class="img-responsive img-circle margin imagenDeQuienSoy" style="display:inline" alt="Ale Gallo" width="350" height="350">
    <h1 class="texto">Alejandro Gallo alumno de la UTN FRA</h1>
  </div>

  <!-- Second Container -->
  <div id="que" class="container-fluid text-center texto">
    <h3 class="margin">Mi Juego: &iexcl;PASAPALABRAS!</h3>
    <p>Se trata del famoso Pasapalabras.
        <br>El jugador podra las letras de la A a la Z para responder preguntas.
        <br>El tiempo comenzará en 30 segundos y se sumaran 10 segundos por cada respuesta correcta.
        <br>En caso de conocer la respuesta puede presionar PASAPALABRA para evityar que siga corriendo el contador.
        <br>El juego termina cuando se acaba el tiempo o cuando se responden todas las preguntas.
        <br>El puntaje se calcula con la cantidad de respuestas correctas * el tiempo que sobra * 10.
    </p>
    <a href="#" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-file"></span> Descargar PDF
    </a>
  </div>


</div>
