<app-nav-var [inputUsuarioConectado]="usuarioConectado" ></app-nav-var>
<div id="imagen-de-fondo">

  <!-- First Container -->
  <div id="quien" class="container-fluid text-center">
    <h3 class="margin">Quién Soy?</h3>
    <img src="../../../assets/foto-Quien-soy.jpg" class="img-responsive img-circle margin imagenDeQuienSoy" style="display:inline" alt="Ale Gallo" width="350" height="350">
    <h1 class="texto">Alejandro Gallo alumno de la UTN FRA</h1>
  </div>

  <!-- Second Container -->
  <div id="que" class="container-fluid text-center texto">
    <h3 class="margin">Mi Juego: &iexcl;BATALLA NAVAL!</h3>
    <p>Se trata del famoso Batalla Naval.
        <br>El jugador podra elegir donde posicionar sus barcos, y la maquina posicionará los suyos automaticamente
        <br>Jugaran un turno a la vez, indicando las coordenadas del tablero siendo una letra y un numero que indican poscionamiento horizontal y vertical respectivamente.
        <br>Ganará el primer jugador que logre hundir todos los barcos del otro jugador.
    </p>
    <a href="#" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-file"></span> Descargar PDF
    </a>
  </div>

  <!-- Third Container (Grid) -->
  <!-- <div id="donde" class="container-fluid text-center">
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
            <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
            <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
            <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
    </div>
  </div> -->

  <!-- Footer -->
  <!-- <footer class="container-fluid text-center">
    <p>Modificado por <a href="https://www.facebook.com/Alejandro.Coco.Gallo">www.facebook.com/Alejandro.Coco.Gallo</a></p>
  </footer> -->

</div>
