.fondo {
  background-image: url('../../../../assets/FondoPreguntados.jpg');
  height: 100vh;
  background-size: 100% 100%;
  padding: 50px;
  width: 100%;
}



.btn-respuesta {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #ffffffe8;
  color: #000000;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.btn-respuesta:hover {
  background-color: #209191c5;
}

.imagen-categoria-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.imagen-categoria {
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
}

.pregunta {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: 2px inset rgba(0, 0, 0, 0.2);
  text-align: center;
  align-items: center;
  justify-content: center;
}


table {
  margin-left: 50px;
  padding-top: 100px;
}

.titulo {
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 60px;
  background-color: rgba(47, 47, 185, 0.274);
  color: rgba(58, 23, 175);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  padding-top: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin: auto;
  font-style: italic;
  padding-bottom: 20px;
}

.respuestas-container{
  align-items: center;
}

.row {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}
