.btn {
  margin-right: 10px;
}


mat-toolbar{
  justify-content: space-between;
}

.botones {
  justify-content: end;
  align-items: end;
}


nav {
  background-color: rgb(94, 0, 0);
  color: azure;
}
