<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/juegos/home" *ngIf="usuarioConectado" (click)="irAHome()">
        <img
          [src]="usuarioConectado!.foto"
          width="40"
          height="40"
          loading="lazy"
          class="d-inline-block align-top rounded-circle"
          alt="Home"
        />
        {{ usuarioConectado.nombre }}, {{ usuarioConectado.apellido }}
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExample10"
        aria-controls="navbarsExample10"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarsExample10"
      >
        <div *ngIf="usuarioConectado; else loginBlock">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" (click)="irARuta('/quien-soy')">
                <i class="fa-solid fa-user"></i> Quien Soy
              </a>
            </li>
            <li *ngIf="usuarioConectado?.esAdmin" class="nav-item">
              <a class="nav-link"  (click)="irARuta('/encuesta-ver')">
                <i class="fas fa-poll"></i> Encuestas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="irARuta('/chat')" >
                <i class="fas fa-comments"></i> Chat
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="cerrarSesion()">
                <i class="fa-solid fa-sign-out-alt"></i> LogOff
              </a>
            </li>
          </ul>
        </div>

        <ng-template #loginBlock>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">
                <i class="fa-solid fa-lock"></i> Login
              </a>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </nav>
</div>
