<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary">
  <form class="container-fluid justify-content-end">
    <button routerLink="/home"  class="btn btn-outline-success" type="button">Home</button>
    <button routerLink="/login" class="btn btn-outline-info" type="button">Login/Signup</button>
    <!-- <button routerLink="/signup" class="btn btn-outline-info" type="button">Signup</button> -->
    <button routerLink="/error" class="btn btn-outline-danger" type="button">Error</button>
    <button routerLink="/games" class="btn btn-outline-warning" type="button">Juegos</button>

  </form>
</nav>
