

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.error {
  background: linear-gradient(to right, #b08100, #ce3e3e)
}

.info {
  background: linear-gradient(to right, #0003b0, hwb(128 11% 25%))
}

.warning {
  background: linear-gradient(to right, #a0a300, #d69200)
}

.success {
  background: linear-gradient(to right, #0bb405, #63ad01fb)
}

