/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error {
  background: linear-gradient(to right, #b08100, #ce3e3e)
}

.info {
  background: linear-gradient(to right, #0003b0, hwb(128 11% 25%))
}

.warning {
  background: linear-gradient(to right, #e3e702, #d69200)
}

body {
  background-image: url('assets/dark-city-wallpaper-1920x1080-15.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  margin-top: 2px;
}
